{% extends 'testsite/base_aut_aft.html' %}

{% block head_name %}
Авторизация
{% endblock %}


{% block user_name %}
Имя пользователя: <br>
{{ Form.username }}
{% endblock %}

{% block password %}
Пароль: <br>
{{ Form.password }}
<p>{{error}}</p>
{% endblock %}


{% block sing-in-text %}
<button class="btn  btn-primary text-uppercase" type="submit">
    Войти
</button>
{% endblock %}

{% block create_user %}
<button class="btn  btn-primary text-uppercase">
    <a href="{% url 'register' %}">Регистрация</a>
</button>
{% endblock %}
