{% extends 'testsite/base_aut_aft.html' %}

{% block head_name %}
Авторизация
{% endblock %}


{% block user_name %}
Имя пользователя: <br>
<p>{{ Form.username }}</p>
{% endblock %}

{% block password %}
Пароль: <br>
<p>{{ Form.password }}</p>
<p>{{error}}</p>
{% endblock %}



{% block sing-in-text %}
<button class="btn  btn-primary text-uppercase" type="submit">
    Вход
</button>
{% endblock %}

{% block create_user %}
<button class="btn  btn-primary text-uppercase">
    <a href="{% url 'register' %}">Регистрация</a>
</button>
{% endblock %}
