{% extends 'testsite/base.html' %}

{% block title %}
Товары
{% endblock %}


{% block content %}
<form method="post" class="text-white">
    {% csrf_token %}
    <span>Название</span>
    {{ tovar.name }}<br>
    <span>Описание</span>
    {{ tovar.desc }}<br>
    <span>Цена</span>
    {{ tovar.price }}<br>
    <button type="submit" name="save" class="btn btn-success">Добавить</button>
    <br>
    <p class="text-danger">{{error}}</p>
</form>
{% endblock %}

{% block footer %}
<div class="container text-center">
    <span class="text-muted">Elkompany 2020</span>
</div>
{% endblock %}